body{


  background-image: url("../../../assets/e1.jpeg");
  min-height: 100vh;
  min-width: 35px;
background-repeat: no-repeat;
background-size: cover;
height: 25cm;
}

#userprofilepic{
display: block;
margin-left: auto;
margin-right: auto;


}

#mail{
  color: #bdbdb9;
}
#change{
  margin-top: 0.8cm;
}
#cardprofile{

margin-top: 1cm;
margin-left: 1cm;
margin-right: 1cm;



}
#cardprofile1{

margin-left: 1cm;
margin-right: 1cm;


}
#space
{
  margin-top: 5cm;
}
#cardpic{
margin-top: 0.5cm;
}
#profilepic{
height: 6cm;
width: 6cm;
margin-bottom: 0.5cm;
}
#accounticon{
margin-bottom: 0.2cm;
}
#searchicon
{
margin-bottom: 5mm;
margin-right: 4mm;
height: 0.3mm;
width: 0.5mm;
color:white;
}
#projecticon
{
margin-top: 3.5mm;
margin-bottom: 3mm;
margin-right: 4mm;
height: 0.3mm;
width: 0.5mm;
color:white;


}
#editbutton{
margin-right:2cm;
}
#rating{
margin-top: 2mm;
}
#rating1{
margin-top: 2mm;
margin-bottom: 5cm;
}
#space{
margin-left: 1cm;
}

.checked {
color: orange;
}

#cardprojecticon
{
margin-top: 4mm;


margin-left: 7mm;
height: 0.3mm;
width: 0.5mm;
color:royalblue;

}
.material-icons.md-18{
font-size: 18px;
}
#navbarcolor{
background-color:transparent
}
.card{
  background-color: transparent;
}
#clearbutton{
margin-top: 4mm;
}
#card-title{
margin-top:3mm ;
margin-right: auto;

}
#icon{
margin-left: 4mm;
margin-bottom: 2mm;
}
#icon1{
font-size: 18px;
position: -webkit-sticky;
margin-bottom: 6mm;

}
.card-body{
margin-right: 5mm;
}
