<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->


  <title>Home</title>
</head>

<body>

  <div class="container-fluid p-0">

    <section id="intro">
      <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

          <ol class="carousel-indicators"></ol>

          <div class="carousel-inner" role="listbox">

            <div class="carousel-item active">
              <div class="carousel-background"><img src="../../assets/1.jpg" alt=""></div>

              <!--navbar-->
              <div class="carousel-container1">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                  <nav class="navbar navbar-expand-lg navbar-dark col-12 col-lg-12" id="navbar">


                    <img src="../../assets/logoopf.jpg" class="material-icons" id="logoicon" alt="">
                    <a class="navbar-brand" routerLink="/home" routerLinkActive="active-link">
                      &nbsp; Open Prototype Platform</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                      data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                      aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-item nav-link active" id="navicon" href="homePage.html">Home <span
                            class="sr-only">(current)</span></a>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
              <!-- #navbar -->

              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>Are you looking to enhance your skills?</h2>
                  <p>Your skills are valuable.Easily find a projects to enhance it</p>
                  <a type="button" class="btn-get-started scrollto " (click)="onselect()">Get Started</a>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-background"><img src="../../assets/2.jpg" alt=""></div>
              <!--navbar-->
              <div class="carousel-container1">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                  <nav class="navbar navbar-expand-lg navbar-dark col-12 col-lg-12" id="navbar">
                    <a class="navbar-brand" href="#">
                      <img src="../../assets/logoopf.jpg" class="material-icons" id="logoicon" alt="">
                      &nbsp; Open Prototype Platform</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                      data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                      aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-item nav-link active" id="navicon" href="homePage.html">Home <span
                            class="sr-only">(current)</span></a>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
              <!-- #navbar -->

              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>Are you a Employee?</h2>
                  <p>Solve your ideas/problems here!!!</p>
                  <a type="button" class="btn-get-started scrollto" (click)="onselectemployee()">Get Started</a>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </section>
    <!--about-->

    <section id="about">
      <div class="container">
        <header class="section-header">
          <h3 id="aboutus">ABOUT US</h3>
          <p> </p>
        </header>
      </div>
    </section>
    <!--#about-->


    <!--contact-->

    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3 id="aboutus">CONTACT US</h3>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>No:2282,96th street,Mathur,Chennai:600068</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="#">+91 7845504099</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="#">aravindjai0@gmail.com</a></p>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- #contact -->

  </div>
</body>

</html>
